.logo {
  margin-left: 70px;
  margin-top: 40px;
}


.login-page-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 170px;
}

.body-left {
  width: 37rem;

.body-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Nunito;
  font-style: normal;
  letter-spacing: 0.07rem;
  width: 34rem;
}

.login-heading-text {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.login-body-text {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2.2rem;
}
