.logo {
  position: absolute;
  height: 3rem;
  left: 4.7rem;
  top: 2.6rem;
}

.body-left {
  position: absolute;
  width: 50rem;
  height: 25rem;
  left: 4.7rem;
  top: 17.8rem;
}

.body-right {
  position: absolute;
  width: 34rem;
  height: 24.8rem;
  left: 66rem;
  top: 19rem;
  font-family: Nunito;
  font-style: normal;
  letter-spacing: 0.07rem;
}

.login-heading-text {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.login-body-text {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2.2rem;
}
