.logo {
  width: 6.25rem;
  height: 3rem;
  margin-top: 2.5rem;
  margin-left: 2.9rem;
  margin-bottom: 2.5rem;
}
.welcomeMessage {
  margin-top: 150px;
  margin-left: 150px;
  text-align: center;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.submitButton {
  display: flex !important;
  width: 175px !important;
  height: 44px !important;
  align-items: center !important;
  margin-left: auto !important;
  margin-top: 35px !important;
}

input {
  width: 600px !important;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}
