.logo {
  margin-left: 70px;
  margin-top: 40px;
}

.welcomeMessage{
  color: rgba(0, 0, 0, 0.60);
  margin-top: 70px;
  margin-left: 90px;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.5px;
}