.logo {
  width: 100px;
  height: 48px;
  margin-top: 40px;
  margin-left: 35px;
}

.logoutButton {
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  padding: 8px !important;
}

.divider {
  background-color: white;
  margin-bottom: 40px !important;
}

.typography {
  font-family: Nunito !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 20px !important;
  line-height: 36px !important;
}

.icon {
  color: white;
  font-size: 30px;
}

.sidebar-option {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.sidebar-option.active {
  background-color: #1976d2;
  color: white;
}

.sidebar-option:hover {
  background-color: #1976d2;
}
