.logo {
  width: 6.25rem;
  height: 3rem;
  margin-top: 2.5rem;
  margin-left: 2.9rem;
}

.logoutButton {
  display: flex;
  align-items: center !important;
  justify-content: start !important;
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  padding: 0.5rem !important;
  cursor: pointer;
  margin-left: 1.5rem;
}

.logoutText {
  margin-left: 1.5rem;
}

.divider {
  background-color: white;
  margin-bottom: 2.5rem !important;
}

.typography {
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 1.25rem !important;
  line-height: 2.25rem !important;
}

.icon {
  color: white;
  font-size: 2rem;
}

.sidebar-option {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}

.sidebar-option.active {
  background-color: #1976d2;
  color: white;
}

.sidebar-option:hover {
  background-color: #1976d2;
}
